##
## EPITECH PROJECT, 2023
## Style
## File description:
## .gitignore
##

# Folder
.vscode
.idea
.obj
doxygen
build

# Binaries
unit_test
a.out
style

# Extension
*.o
*.a
*.gcda
*.gcno

# Tmp files
vgcore.*
\#*
~*

# Unwanted files
coding-style-reports.log
